<div class="container-fluid">
    <div class="row justify-content-around">
        <h1 class="display-3">Favorite Authors</h1>
    </div>
    <div class="row justify-content-around mb-3">
        <button class="btn btn-outline-dark" [routerLink]="['new']">Create Author</button>
    </div>
    <div class="row justify-content-around">
        <table class="col-6 table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Author Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors" [routerLink]="author._id">
                    <td>{{ author.name }}</td>
                    <td> <button class="btn btn-dark mx-2" [routerLink]="[author._id, 'edit']">Edit</button> <button class="mx-5 btn btn-dark" (click)="onDelete(author._id)">Delete</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>